body{
  color: white;
    background: url(../img/poster.png);
}
label {
  font-size: 0.875rem;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}
/*///////////////header*/
/**
 * Design Shack Respnsive Menu
 */


* {
  padding: 0;
  margin: 0;
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 99999999;
  overflow: hidden;
}

nav ul {
  list-style: none;
  overflow: hidden;
}
li {
  font-size: 19px;
  padding: 0;
  margin: 0;
  line-height: 26px;
}
nav li a {
  background: #FFF;
  border-right: 1px solid #fff;
  color: #000;
  display: block;
  float: left;
  font-family: 'Lauren';
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 16%;
  height: 76px;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

/*HOVER*/
nav li a:hover {
  background: rgba(0, 0, 0, 0.49);
  color: white;
}

/*SMALL*/
nav small {
 font-family: 'Lauren';
  text-transform: none;

}

/*BORDER FIX*/
nav li:last-child a {
  border: none;
}

/*BLUE MENU*/
nav .blue {
  margin-top: 50px;
}

.blue li a {
  background: rgba(0, 0, 0, 0.49);
}
}

.blue small {
  color: white;
}

.blue li a:hover {
  background: #444;
}

/*RED MENU*/

nav .red {
  margin-top: 50px;
}

.red li a {
  background: #5C0002;
}

.red small {
  color: white;
}

.red li a:hover {
  background: rgba(0, 0, 0, 0.49);
}
}

/* MEDIA QUERIES*/
@media only screen and (max-width : 1220px),
only screen and (max-device-width : 1220px){
  nav li a {
      font-family: 'Lauren';
  }
  
  nav small {
      font-family: 'Lauren';
  }
}

@media only screen and (max-width : 930px),
only screen and (max-device-width : 930px){
  nav li a {
    width: 16%;
    border-bottom: 1px solid #fff;
    font-family: 'Lauren';
  }
  
  nav li:last-child a, nav li:nth-child(4) a {
    border-right: none;
  }
  
  nav li:nth-child(5) a, nav li:nth-child(6) a, nav li:nth-child(7) a, nav li:nth-child(8) a {
    border-bottom: none;
  }
  nav small {
  font-family: 'Lauren';
  text-transform: none;
  font-size: 11px;
}
}

@media only screen and (max-width : 580px),
only screen and (max-device-width : 580px){
  nav {
  width: 100%;
  position: absolute;
  z-index: 99999999;
  overflow: hidden;
}
  nav li a {
      width: 100%;
       font-family: 'Lauren';
    padding-top: 12px;
    padding-bottom: 12px;
  }
  #menu3{
    width: 100%;
  }
  #menu7{
    display: none;
  }
  
  nav li:nth-child(even) a {
    border-right: none;
  }
  
  nav li:nth-child(5) a, nav li:nth-child(6) a {
    border-bottom: 1px solid #fff;
  }
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
  nav li a {
     font-family: 'Lauren';
  }
}

/*/////////////////////////header*/
#video{
 position: fixed;
 top: 0;
 left: 0;
 z-index: 0;
 overflow: hidden;
}
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem; 
  background: rgba(0, 0, 0, 0.36);}
.seccion7 {
  width: 100%;
  /* background: url(../img/contacto2.png) center center no-repeat fixed; */
  background-size: 100% 100%;
  height: 100%;
}
#formulario {
  padding-top: 54px;
  color: white;
}

#button{
	font-family: 'Champagne & Limousines';
	width: 100%;
	border-width: 4px;
	border-color: #cccccc;
	background-color: rgba(0, 0, 0, 0.21);
}
#button:hover{
	font-family: 'Champagne & Limousines';
	width: 100%;
	border-width: 4px;
	border-color: #cccccc;
	background-color: #E7D356;
	color: black;
}


input[type="number"], input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.28);
  font-family: inherit;
  border-style: solid;
  border-width: 4px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height:  3.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s linear;
}
input, input[type="password" i], input[type="search" i] {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: red;
}
